* text=auto
*.md text eol=lf
*.css text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.vtt text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.mp4 binary
*.webm binary
*.pdf binary
